$theme-colors: (
  "primary": #6eb5c0,
  "secondary": #006c84,
  "success": #128277,
  "danger": #52958b,
  "warning": #004d47,
  "info": #128277
);

$enable-gradients: true;

// card
//
$card-cap-bg: #fff;

// sidebar
$cr-sidebar-width: 224px;
